body{
  display: flex;
    justify-content: center;
    background: lightgrey;
}

#container{
  position: relative;
  top: 25px;
  width: 800px;

}

#bestplaces{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  color: DodgerBlue;

}

#content-box{
  background:#fff;
  padding: 15px;
  margin-bottom: 20px;
}

#image1 img{
  width: 100%;

}

#milleniumpark{
  display: flex;
  justify-content: center;

}

#navypier{
  display: flex;
  justify-content: center;

}

#willistower{
  display: flex;
  justify-content: center;

}

#buckinghamfountain{
  display: flex;
  justify-content: center;

}

#artinstitute{
  display: flex;
  justify-content: center;

}

ul{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
  list-style-type: none;
  padding: 0px;

}

a{
  position: relative;
  text-decoration: none;
  background: #fff;
  padding: 15px;

}

a:hover{
  color: grey;

}

a:active{
  color:#6495ED;

}

a:link{
  color: black;

}

a:visited{
  color: black;

}
